<mat-sidenav
  #drawer
  class="sidenav"
  fixedInViewport="true"
  [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
  [mode]="'over'"
  [fixedTopGap]="'72px'">
  <div [ngSwitch]="user_role" class="container">
    <ng-template ngSwitchCase="1">
      <main-menu-panel></main-menu-panel>
    </ng-template>
    <ng-template ngSwitchCase="2">
      <admin-menu-panel></admin-menu-panel>
    </ng-template>
    <ng-template ngSwitchCase="3">
      <integrator-menu-panel></integrator-menu-panel>
    </ng-template>
    <ng-template ngSwitchCase="4">
      <user-menu-panel></user-menu-panel>
    </ng-template>
  </div>
  <div class="main-bottom-row">
    <!--<div class="precision-picker">-->
    <!--<label>Целые</label>-->
    <!--<mat-slide-toggle [(ngModel)]="isPrecision"></mat-slide-toggle>-->
    <!--<label>Правила</label>-->
    <!--</div>-->
    <!--<div class="theme-picker">-->
    <!--<label>Светлая</label>-->
    <!--<mat-slide-toggle [(ngModel)]="isDark"></mat-slide-toggle>-->
    <!--<label>Тёмная</label>-->
    <!--</div>-->
    <div class="copy">
      НИУ "ВШЭ" 2019
    </div>
  </div>
</mat-sidenav>
