<loader [complete]="completed|async" text="Загрузка"></loader>
<div class="wsm-data-container">
  <h2 align="center">Список датчиков</h2>
  <div class="block-container">
    <div class="buttons-block">
      <button mat-icon-button *ngIf="role() === baseRole.INTEGRATOR" (click)="findNewSensor()" title="Найти датчик">
        <mat-icon>search</mat-icon>
      </button>
      <button mat-icon-button *ngIf="role() === baseRole.INTEGRATOR" (click)="createReportOnSensors()" title="Сгенерировать отчет">
        <mat-icon>report</mat-icon>
      </button>
      <button mat-icon-button (click)="updateSensorList()" title="Обновить список датчиков">
        <mat-icon>cached</mat-icon>
      </button>
    </div>
    <ul class="collection-with-header" *ngIf="role() === baseRole.INTEGRATOR">
      <li class="collection-header">
        <h4>Датчики</h4>
      </li>
      <div class="scrolling-container" >
        <div class="scrolling-area" >
          <li class="collection-item" *ngFor="let sensor of sensors">
            <div class="element-info">
              <p class="item-name">{{sensor.name}}</p>
              <p class="item-description">{{sensor.description}}</p>
            </div>
            <div class="element-buttons">
              <button mat-icon-button (click)="viewSensor(sensor.id)" title="Просмотреть датчик">
                <mat-icon>visibility</mat-icon>
              </button>
              <button mat-icon-button *ngIf="sensor.controller === -1" (click)="createLinkController(sensor.id)" title="Подключиться к контроллеру">
                <mat-icon>phonelink</mat-icon>
              </button>
              <button mat-icon-button *ngIf="sensor.controller !== -1" (click)="destroyLinkController(sensor.id)" title="Отсоединиться от контроллера">
                <mat-icon>phonelink_off</mat-icon>
              </button>
              <button mat-icon-button (click)="removeSensor(sensor.id)" title="Удалить датчик">
                <mat-icon>delete</mat-icon>
              </button>
            </div>
          </li>
        </div>
      </div>
    </ul>
    <ul class="collection-with-header" *ngIf="role() === baseRole.SIMPLE">
      <li class="collection-header">
        <h4>Датчики по контроллерам</h4>
      </li>
      <div class="scrolling-container" *ngIf="this.role() === baseRole.SIMPLE">
        <div class="scrolling-area" >
          <li *ngFor="let controller of controllers">
            <div class="collection-header">
              <p>{{controller.name}}: подключено датчиков - {{controllerSens(controller.id).length}}</p>
              <button mat-icon-button class="special-button" *ngIf="role() === baseRole.SIMPLE && hidden(controller.id)" (click)="shareControllersSensors(controller.id)" title="Показать датчики">
                <mat-icon>zoom_in</mat-icon>
              </button>
              <button mat-icon-button class="special-button" *ngIf="role() === baseRole.SIMPLE && !hidden(controller.id)" (click)="hideControllersSensors(controller.id)" title="Спрятать датчики">
                <mat-icon>zoom_out</mat-icon>
              </button>
            </div>
            <ul *ngIf="!hidden(controller.id)" class="collection-with-sub-header">
              <!--<div >-->
              <li class="collection-item" *ngFor="let sensor of controllerSens(controller.id)">
                <div class="element-info">
                  <p class="item-name">{{sensor.name}}</p>
                  <p class="item-description">{{sensor.description}}</p>
                </div>
                <div class="element-buttons">
                  <button mat-icon-button (click)="viewSensor(sensor.id)" title="Просмотреть датчик">
                    <mat-icon>visibility</mat-icon>
                  </button>
                </div>
              </li>
              <!--</div>-->
            </ul>
          </li>
        </div>
      </div>
    </ul>
  </div>
  <div class="anyShown" *ngIf="!anyShown">Датчики отсутствуют</div>
  <div class="accessed" *ngIf="!accessed">Нет доступа к странице "Список датчиков"</div>
</div>
