<loader [complete]="completed|async" text="Загрузка"></loader>
<div class="wsm-data-container">
  <h2>Список сценариев</h2>
  <div class="block-container">
    <ul class="collection with-header">
      <li class="collection-header">
        <h4>Сценарии</h4>
        <button mat-icon-button (click)="addNewScenario()">
          <mat-icon>add_box</mat-icon>
        </button>
        <button mat-icon-button (click)="createReportOnScenarios()">
          <mat-icon>send</mat-icon>
        </button>
      </li>
      <li class="collection-item" *ngFor="let scenario of scenarios">
        <div>
          <p class="item-name">{{scenario.name}}</p>
          <p class="item-description">{{scenario.description}}</p>
          <button mat-icon-button (click)="editScenario(scenario.id)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button (click)="viewScenario(scenario.id)">
            <mat-icon>details</mat-icon>
          </button>
          <button mat-icon-button (click)="removeScenario(scenario.id)">
            <mat-icon>remove_circle</mat-icon>
          </button>
        </div>
      </li>
    </ul>
    <div class="anyShown" *ngIf="!anyShown">Сценарии отсутствуют</div>
    <div class="accessed" *ngIf="!accessed">Нет доступа к странице "Список сценариев"</div>
  </div>
</div>
