<loader [complete]="completed|async" text="Загрузка"></loader>
<div class="wsm-data-container">
  <h2 align="center">Поиск датчиков</h2>
  <div class="block-container">
    <div class="searching-block">
      <label>
        Введите ID датчика:
        <input [(ngModel)]="sensorId" placeholder='sensor'>
        <span *ngIf="sensorNotFound()">Не найден ни один датчик по заданному ID</span>
        <span *ngIf="sensorExisting()">Такой датчик уже есть в системе</span>
      </label>
      <button mat-icon-button (click)="findSensor()" title="Найти датчик">
        <mat-icon>find_replace</mat-icon>
      </button>
    </div>
    <div class="find-block" *ngIf="sensorFounded">
      <label>
        Название датчика:
        <input [(ngModel)]="name" [disabled]="true">
      </label>
      <label>
        Описание датчика:
        <input [(ngModel)]="description" [disabled]="true">
      </label>
      <label>
        Тип датчика:
        <input [(ngModel)]="typeSensor" [disabled]="true">
      </label>
      <button mat-icon-button (click)="addFoundedSensor()" title="Подключить датчик">
        <mat-icon>add_box</mat-icon>
      </button>
    </div>
    <div class="accessed" *ngIf="!accessed">Нет доступа к странице "Поиск датчиков"</div>
  </div>
</div>
