<loader [complete]="completed|async" text="Загрузка"></loader>
<div class="wsm-data-container">
  <h2 align="center">Просмотр датчика</h2>
  <div class="block-container" *ngIf="accessed">
    <div class="entity-block">
      <table>
        <tr>
          <td>
            Название датчика:
          </td>
          <td>
            {{name}}
          </td>
        </tr>
        <tr>
          <td>
            Описание датчика:
          </td>
          <td>
            {{description}}
          </td>
        </tr>
        <tr>
          <td>
            Тип датчика:
          </td>
          <td>
            {{typeSensor}}
          </td>
        </tr>
        <tr>
          <td>
            Владелец:
          </td>
          <td>
            {{masterSensor !== null && masterSensor !== undefined ? masterSensor.name : ''}}
          </td>
        </tr>
      </table>
    </div>
  </div>
  <div class="accessed" *ngIf="!accessed">Нет доступа к странице "Просмотр датчика"</div>
</div>
