<loader [complete]="completed|async" text="Загрузка"></loader>
<div class="wsm-data-container">
  <h2 align="center">Список пользователей</h2>
  <div class="block-container">
    <div class="buttons-block">
      <button mat-icon-button (click)="addNewUser()" title="Добавить пользователя">
        <mat-icon>add_box</mat-icon>
      </button>
      <button mat-icon-button (click)="createReportOnUsers()" title="Сгенерировать отчет">
        <mat-icon>report</mat-icon>
      </button>
      <button mat-icon-button (click)="updateUserList()" title="Обновить список пользователей">
        <mat-icon>cached</mat-icon>
      </button>
    </div>
    <ul class="collection-with-header">
      <li class="collection-header">
        <h4>Пользователи</h4>
      </li>
      <div class="scrolling-container" *ngIf="role() !== baseRole.SIMPLE">
        <div class="scrolling-area" >
          <li class="collection-item" *ngFor="let user of users">
            <div class="element-info">
              <p class="item-name">{{user.name}}</p>
              <p class="item-description">{{user.login}}: {{user.info}}</p>
            </div>
            <div class="element-buttons">
              <button mat-icon-button (click)="editUser(user.login)" title="Редактировать пользователя">
                <mat-icon>edit</mat-icon>
              </button>
              <button mat-icon-button (click)="viewUser(user.login)" title="Просмотреть пользователя">
                <mat-icon>visibility</mat-icon>
              </button>
              <button mat-icon-button (click)="removeUser(user.login)" title="Удалить пользователя">
                <mat-icon>delete</mat-icon>
              </button>
            </div>
          </li>
        </div>
      </div>
      <div class="scrolling-container" *ngIf="role() === baseRole.SIMPLE">
        <div class="scrolling-area" >
          <li class="collection-item" *ngFor="let user of users">
            <div class="element-info">
              <p class="item-name">{{user.name}}</p>
              <p class="item-description">{{user.login}}: {{user.info}}</p>
            </div>
            <div class="element-buttons">
              <button mat-icon-button (click)="editUser(user.login)" title="Редактировать пользователя">
                <mat-icon>edit</mat-icon>
              </button>
              <button mat-icon-button (click)="viewUser(user.login)" title="Просмотреть пользователя">
                <mat-icon>visibility</mat-icon>
              </button>
              <button mat-icon-button (click)="removeUser(user.login)" title="Удалить пользователя">
                <mat-icon>delete</mat-icon>
              </button>
            </div>
          </li>
        </div>
      </div>
    </ul>
    <div class="anyShown" *ngIf="!anyShown">Пользователи отсутствуют</div>
    <div class="accessed" *ngIf="!accessed">Нет доступа к странице "Список пользователей"</div>
  </div>
</div>
