<div class="ag-popup-editor">
  <div class="login">
    <label>
      Логин:
      <input [(ngModel)]="login" placeholder='user' [disabled]="identificatorAcessed()">
      <span *ngIf="checkExistingLogin()">Такой пользователь уже зарегистрирован в системе</span>
      <span *ngIf="!checkRightLogin()">Не правильный формат ввода логина</span>
    </label>
  </div>
  <div class="password">
    <label>
      Пароль:
      <input type="password" [(ngModel)]="password" placeholder='*******' [disabled]="accessed()">
      <span *ngIf="!checkFirstPassword()">Неверный формат для пароля</span>
    </label>
    <label *ngIf="!blocked()">
      Повторите пароль:
      <input type="password" [(ngModel)]="repeatPassword" placeholder='*******' [disabled]="accessed()">
      <span *ngIf="!checkSecondPassword()">Неверный формат для пароля</span>
    </label>
    <span *ngIf="!checkPasswords()">Пароли не совпадают</span>
  </div>
  <div class="name">
    <label>
      ФИО:
      <input [(ngModel)]="name" placeholder='ФИО' [disabled]="accessed()">
      <span *ngIf="!checkName()">Не правильный формат ввода ФИО пользователя</span>
    </label>
  </div>
  <div class="info">
    <label>
      Информация о пользователе:
      <input [(ngModel)]="info" placeholder='Информация о пользователе ФИО' [disabled]="accessed()">
      <span *ngIf="!checkInfo()">Не правильный формат ввода информации о пользователе</span>
    </label>
  </div>
</div>
