<loader [complete]="completed|async" text="Загрузка"></loader>
<div class="wsm-data-container">
  <h2 align="center">Поиск контроллеров</h2>
  <div class="block-container">
    <div class="searching-block">
      <label>
        Введите ID контроллера:
        <input [(ngModel)]="controllerId" placeholder='controller'>
        <span *ngIf="controllerNotFound()">Не найден ни один контроллер по заданному ID</span>
        <span *ngIf="controllerExisting()">Такой контроллер уже есть в системе</span>
      </label>
      <button mat-icon-button (click)="findController()" title="Найти контроллер">
        <mat-icon>find_replace</mat-icon>
      </button>
    </div>
    <div class="find-block" *ngIf="controllerFounded">
      <label>
        Название контроллера:
        <input [(ngModel)]="name" [disabled]="true">
      </label>
      <label>
        Описание контроллера:
        <input [(ngModel)]="description" [disabled]="true">
      </label>
      <label>
        Тип контроллера:
        <input [(ngModel)]="typeContr" [disabled]="true">
      </label>
      <button mat-icon-button (click)="addFoundedController()" title="Подключить контроллер">
        <mat-icon>check</mat-icon>
      </button>
    </div>
    <div class="accessed" *ngIf="!accessed">Нет доступа к странице "Поиск контроллеров"</div>
  </div>
</div>
