<div class="identify-container">
  <div>
    <label class="id-label">
      Логин:
      <input [(ngModel)]="login" placeholder='user' class="login-input">
    </label>
    <label class="id-label">
      Пароль:
      <input type="password" [(ngModel)]="password" placeholder='*******'  class="password-input">
    </label>
    <span class="id-span" *ngIf="$deny">Не правильно введен логин или пароль</span>
  </div>
  <button mat-icon-button [disabled]="!enabledLogin()" (click)="tryIdentify()">
    <mat-icon>open_in_browser</mat-icon>
  </button>
</div>
