@import "../../../styles/mixins";

:host {
  @include fill;
  z-index: 100;
  padding-top: 72px;
}

:host .identify-container {
  font-family: 'Times New Roman';
  display: inline-block;
  width: rem(500px);
  padding: 40px;
  margin: auto;
  border-radius: 5px;
  background-color: change_color($azure, $alpha: 0.5);
}

:host .id-label {
  font-size: 200%;
  padding: 20px;
  color: $white;
}

:host .login-input {
  color: $black;
}

:host .password-input {
  color: $black;
}

:host .id-span {
  color: #850000;
}

:host button[mat-icon-button] {
  margin: 10px 0px;
  float: right;
  font-size: rem(28px);
  @include defaultIcon;
  font-size: rem(28px);

  &.disabled {
    cursor: not-allowed;
    pointer-events: none;
  }
  @include themify($themes) {
    background-color: themed('button', 'icon', 'color');
  }
}
