<loader [complete]="completed|async" text="Загрузка"></loader>
<div class="wsm-data-container">
  <h2 align="center">Редактирование группы пользователей</h2>
  <div class="block-container" *ngIf="accessed">
    <div class="entity-block">
      <div class="name">
        <label>
          Название группы пользователей:
          <input [(ngModel)]="name" placeholder='Название группы пользователей'>
          <span *ngIf="!checkName()">Не правильный формат ввода названия группы пользователей</span>
        </label>
      </div>
      <div class="desc">
        <label>
          Описание группы пользователей:
          <input [(ngModel)]="description" placeholder='Описание группы пользователей'>
          <span *ngIf="!checkDesc()">Не правильный формат ввода описания группы пользователей</span>
        </label>
      </div>
      <div class="parents">
        <label>
          Родительская группа:
          <div class="updating-field">
            <select [(ngModel)]="selectedGroup">
              <option *ngFor="let gr of groups" [ngValue]="gr.name">
                {{ gr.name }}
              </option>
            </select>
            <button mat-icon-button (click)="updateList()">
              <mat-icon>cached</mat-icon>
            </button>
          </div>
        </label>
      </div>
    </div>
    <button mat-icon-button (click)="saveUserGroup()" [disabled]="!enabledToSave()" title="Сохранить изменения">
      <mat-icon>save</mat-icon>
    </button>
  </div>
  <div class="accessed" *ngIf="!accessed">Нет доступа к странице "Редактирование группы пользователей"</div>
</div>
