<loader [complete]="completed|async" text="Загрузка"></loader>
<div class="wsm-data-container">
  <h2 align="center">Создание пользователя</h2>
  <div class="block-container" *ngIf="accessed">
    <div class="entity-block">
      <div class="login">
        <label>
          Логин:
          <input [(ngModel)]="login" placeholder='user'>
          <span *ngIf="checkExistingLogin()">Такой пользователь уже зарегистрирован в системе</span>
          <span *ngIf="!checkRightLogin()">Не правильный формат ввода логина</span>
        </label>
      </div>
      <div class="password">
        <label>
          Пароль:
          <input type="password" [(ngModel)]="password" placeholder='*******'>
          <span *ngIf="!checkFirstPassword()">Неверный формат для пароля</span>
        </label>
        <label>
          Повторите пароль:
          <input type="password" [(ngModel)]="repeatPassword" placeholder='*******'>
          <span *ngIf="!checkSecondPassword()">Неверный формат для пароля</span>
        </label>
        <span *ngIf="!checkPasswords()">Пароли не совпадают</span>
      </div>
      <div class="name">
        <label>
          ФИО:
          <input [(ngModel)]="name" placeholder='ФИО'>
          <span *ngIf="!checkName()">Не правильный формат ввода ФИО пользователя</span>
        </label>
      </div>
      <div class="info">
        <label>
          Информация о пользователе:
          <input [(ngModel)]="info" placeholder='Информация об пользователе ФИО'>
          <span *ngIf="!checkInfo()">Не правильный формат ввода информации о пользователе</span>
        </label>
      </div>
      <div class="parents">
        <label>
          Группа пользователя:
          <div class="updating-field">
            <select [(ngModel)]="selectedGroup">
              <option *ngFor="let gr of groups" [ngValue]="gr.name">
                {{ gr.name }}
              </option>
            </select>
            <button mat-icon-button (click)="updateList()">
              <mat-icon>cached</mat-icon>
            </button>
          </div>
        </label>
      </div>
    </div>
    <button mat-icon-button (click)="createUser()" [disabled]="!enabledToAdd()" title="Добавить пользователя">
      <mat-icon>save</mat-icon>
    </button>
  </div>
  <div class="accessed" *ngIf="!accessed">Нет доступа к странице "Создание пользователя"</div>
</div>
