<div>
  <!--<h2 align="center">Умный дом: Менеджер сценариев</h2>-->
  <div class="app-description">
    <div class="short-description">
      <p>Данное приложение предназначено для разработки и учета сценариев, применяемых контроллерами в <span>Умных домах</span>.
        Система будет эксплуатироваться на промышленных предприятиях, коммерческих организациях, в жилых домах.
        Конечные пользователи - сотрудники и клиенты, в число которых входят работники предприятий и жильцы домов,
        в которых используется технология <span>«Умный дом»</span>.</p>
    </div>
    <div class="team-description">
      <div class="team-info">
        <p class="system-developers">Разработанная система является учебным проектом, выполненным командой студентов НИУ «ВШЭ».</p>
        <p class="system-order-master">Система была выполнена по заказу доцента Кафедры Информационных Технологий в бизнесе, Кычкина Алексея Владимировича.</p>
      </div>
      <div class="team-list">
        <p>Ниже представлен состав команды:</p>
        <ul>
          <li class="big-li">Золотарёва Екатерина: Product Manager. Заслуги:
            <ul class="small-li">
              <li>общение с заказчиком;</li>
              <li>выявление и формирование требований;</li>
              <li>составление технической документации.</li>
            </ul>
          </li>
          <li class="big-li">Дёмина Дарья: Product Manager. Заслуги:
            <ul class="small-li">
              <li>выявление и формирование требований;</li>
              <li>составление технической документации;</li>
              <li>планирование рабочего графика, организация работы в команде.</li>
            </ul>
          </li>
          <li class="big-li">Ветров Артём: Front-end разработчик. Заслуги:
            <ul class="small-li">
              <li>разработал клиентскую часть приложения для системы «Умный дом» с помощью технологии Angular;</li>
              <li>принимал участие в проектировании поведения и архитектуры приложения;</li>
              <li>выполнял развертывание приложения.</li>
            </ul>
          </li>
          <li class="big-li">Кетов Дмитрий: Back-end и БД разработчик. Заслуги:
            <ul class="small-li">
              <li>разработал серверную часть приложения для системы «Умный дом» с помощью технологии .Net Core;</li>
              <li>разработал базу данных в PostreSQL;</li>
              <li>принимал участие в проектировании поведения и архитектуры приложения.</li>
            </ul>
          </li>
          <li class="big-li">Жигалова Светлана: Тестировщик. Заслуги:
            <ul class="small-li">
              <li>составляла тестовую документацию для системы «Умный дом»;</li>
              <li>подготавливала тест-кейсы;</li>
              <li>выполняла тестирование разработанной системы.</li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>

</div>
