<div>
  <hr>
  <div class="app-description">
    <h2>Умный дом: Менеджер сценариев</h2>
    <hr>
    <div class="short-description">
      <p>Данное приложение предназначено для разработки и учета сценариев, применяемых контроллерами в <span>Умных домах</span>.
        <br>
        Система будет эксплуатироваться на промышленных предприятиях, коммерческих организациях, в жилых домах.
        <br>
        Конечные пользователи - сотрудники и клиенты, в число которых входят работники предприятий и жильцы домов,
        <br>
        в которых используется технология <span>«Умный дом»</span>.</p>
    </div>
    <hr>
    <div class="team-description">
      <p>Разработанная система является учебным проектом, выполненным командой студентов НИУ «ВШЭ».</p>
      <br>
      <br>
      <p>Система была выполнена по заказу доцента Кафедры Информационных Технологий в бизнесе, Кычкина Алексея Владимировича.</p>
      <br>
      <br>
      <p>Ниже представлен состав команды:
        <br>
        <ul>
          <li>Золотарёва Екатерина: Product Manager. Заслуги:
            <ul>
              <li>общение с заказчиком;</li>
              <li>выявление и формирование требований;</li>
              <li>составление технической документации;</li>
              <li>учет трудозатрат.</li>
            </ul>
          </li>
          <li>Дёмина Дарья: Product Manager. Заслуги:
            <ul>
              <li>выявление и формирование требований;</li>
              <li>составление технической документации;</li>
              <li>планирование рабочего графика, организация работы в команде;</li>
              <li>разработка методики обучения пользователей.</li>
            </ul>
          </li>
          <li>Ветров Артём: Front-end разработчик. Заслуги:
            <ul>
              <li>разработал клиентскую часть приложения для системы «Умный дом» с помощью технологии Angular;</li>
              <li>принимал участие в проектировании поведения и архитектуры приложения;</li>
              <li>выполнял развертывание приложения.</li>
            </ul>
          </li>
          <li>Кетов Дмитрий: Back-end и БД разработчик. Заслуги:
            <ul>
              <li>разработал серверную часть приложения для системы «Умный дом» с помощью технологии .Net Core;</li>
              <li>разработал базу данных в MS SQL Server;</li>
              <li>принимал участие в проектировании поведения и архитектуры приложения.</li>
            </ul>
          </li>
          <li>Жигалова Светлана: Тестировщик. Заслуги:
            <ul>
              <li>составляла тестовую документацию для системы «Умный дом»;</li>
              <li>подготавливала тест-кейсы;</li>
              <li>выполняла тестирование разработанной системы;</li>
              <li>принимала участие в прорабатывании концепции системы.</li>
            </ul>
          </li>
        </ul>
      </p>
    </div>
  </div>
  <hr>

</div>
