<ul class="collection with-header">
  <li class="collection-header">
    <h4>Администраторы</h4>
    <a href="#!" class="secondary-content"><i class="material-icons">add_box</i></a>
    <a href="#!" class="secondary-content"><i class="material-icons">send</i></a>
  </li>
  <li class="collection-item" *ngFor="let admin of admins">
    <div>
      <p class="item-name">{{admin.name}}</p>
      <p class="item-description">{{admin.info}}</p>
      <a href="#!" class="secondary-content">
        <i class="material-icons"></i>
      </a>
    </div>
  </li>
</ul>
