<loader [complete]="completed|async" text="Загрузка"></loader>
<div class="wsm-data-container">
  <h2 align="center">Просмотр устройства</h2>
  <div class="block-container" *ngIf="accessed">
    <div class="entity-block">
      <table>
        <tr>
          <td>
            Название устройства:
          </td>
          <td>
            {{name}}
          </td>
        </tr>
        <tr>
          <td>
            Описание устройства:
          </td>
          <td>
            {{description}}
          </td>
        </tr>
        <tr>
          <td>
            Тип устройства:
          </td>
          <td>
            {{typeThing}}
          </td>
        </tr>
        <tr>
          <td>
            Владелец:
          </td>
          <td>
            {{masterThing !== null && masterThing !== undefined ? masterThing.name : ''}}
          </td>
        </tr>
      </table>
    </div>
  </div>
  <div class="accessed" *ngIf="!accessed">Нет доступа к странице "Просмотр устройства"</div>
</div>
