<loader [complete]="completed|async" text="Загрузка"></loader>
<div class="wsm-data-container">
  <h2 align="center">Список устройств</h2>
  <div class="block-container">
    <div class="buttons-block">
      <button mat-icon-button (click)="updateThingList()" title="Обновить список устройств">
        <mat-icon>cached</mat-icon>
      </button>
    </div>
    <ul class="collection-with-header" *ngIf="role() === baseRole.INTEGRATOR">
      <li class="collection-header">
        <h4>Устройства</h4>
      </li>
      <div class="scrolling-container" >
        <div class="scrolling-area" >
          <li class="collection-item" *ngFor="let thing of things">
            <div class="element-info">
              <p class="item-name">{{thing.name}}</p>
              <p class="item-description">{{thing.description}}</p>
            </div>
            <div class="element-buttons">
              <button mat-icon-button *ngIf="thing.controller !== controller.id" (click)="createLinkThing(thing.id)" title="Устройство не подключено">
                <mat-icon>check_box_outline_blank</mat-icon>
              </button>
              <button mat-icon-button *ngIf="thing.controller === controller.id" (click)="destroyLinkThing(thing.id)" title="Устройство подключено">
                <mat-icon>check_box</mat-icon>
              </button>
            </div>
          </li>
        </div>
      </div>
    </ul>
  </div>
  <div class="anyShown" *ngIf="!anyShown">Устройства отсутствуют</div>
  <div class="accessed" *ngIf="!accessed">Нет доступа к странице "Список устройств"</div>
</div>
