@import "../../../styles/mixins";

/**
 * Тело компонента
 */
:host {
  @include themify($themes) {
    background-color: themed('main', 'backgroundColor');
  }
  @include fill;
  overflow: hidden;
}

:host mat-sidenav-container {
  z-index: 999;
  height: 100%;
}
/**
 * Шапка
 */
:host .mat-toolbar {
  position: fixed;
  z-index: 100;
}

:host .mat-drawer-container {
  background: transparent !important;
}

:host .primary {
  @include themify($themes) {
     background-color: themed('header', 'backgroundColor');
     box-shadow: themed('header', 'boxShadow');
   }
  z-index: 100;
  display: flex;
  height: rem(72px);
  min-height: rem(72px);
  align-items: center;
  padding: rem(0 12px);
}

:host button[mat-icon-button] {
  font-size: rem(28px);
}

:host selection-panel {

}

:host .nav {
  font-size: rem(16px);
  font-weight: 500;
  line-height: 1.63;
}

:host button[mat-icon-button],
:host .nav {
  @include defaultIcon;

  &.disabled {
    cursor: not-allowed;
    pointer-events: none;
  }
}

.logo,
.toolbar-left,
.toolbar-center,
.toolbar-right {
  display: block;
  align-items: center;
}

:host .toolbar-left {
  flex: 1;
  align-items: left;
  text-align: left;
}

:host .toolbar-right {
  flex: 1;
  align-items: right;
  text-align: right;
  padding-right: 10px;
}

:host .toolbar-center {
  flex: 1;
  flex-direction: column;
  justify-content: center;
  margin-left: rem(-28px);

  h2 {
    @include themify($themes) {
      color: themed('header', 'color');
    }
    display: inline-flex;
    margin: 0;
    font-family: 'Times New Roman';
    font-size: rem(24px);
    font-weight: 500;
    line-height: 1.44;
    text-align: center;
  }
}

.main-logo {
  display: flex;
  margin: rem(0 16px);
  text-decoration: none;

  & img {
    height: rem(42px);
    margin-top: rem(-12px);
  }
}



/**
 * Боковая панель
 */
:host .sidenav {
  @include themify($themes) {
    background-color: themed('sidenav', 'backgroundColor');
  }
  display: flex;
  width: rem(300px);
  flex-direction: column;
  padding: rem(0 0 16px);

  & /deep/ .mat-drawer-inner-container {
    display: flex;
    flex-direction: column;
  }
}

mat-nav-list {
  flex: 1 auto;
  flex-direction: column;

  & /deep/ .mat-list-item-content {
    flex: 1;
  }
}

.main-bottom-row {
  display: flex;
  flex-direction: column;
  align-items: center;
}

:host .copy {
  @include themify($themes) {
    color: themed('sidenav', 'color');
  }
  padding: rem(0 16px);
  font-size: rem(12px);
  opacity: 0.5;
}

:host .menu-group {
  @include themify($themes) {
    color: themed('sidenav', 'color');
  }
  padding: rem(8px 16px);
  margin: 0;
}

:host .general-item-link {
  @include themify($themes) {
    color: themed('sidenav', 'color');
  }
  display: flex;
  width: 100%;
  flex: 1;
  flex-direction: row;
  align-items: center;
  padding: rem(6px 16px);
  border-radius: rem(2px);
  cursor: pointer;
  font-size: rem(16px);
  line-height: 1.625;
  transition: background-color 0.2s ease-in-out;

  & mat-icon {
    @include themify($themes) {
      color: change_color(themed('sidenav', 'color'), $alpha: 0.7);
    }
    margin-right: rem(16px);
    transition: background-color 0.2s ease-in-out;
  }

  &:hover {
    background-color: change_color($defaultColor, $alpha: 0.07);
  }

  &:hover .general-item-icon {
    background-color: change_color($defaultColor, $alpha: 0.3);
  }
}

:host mat-slide-toggle.mat-checked:not(.mat-disabled) /deep/ {
  & .mat-slide-toggle-thumb {
    background-color: $defaultColor;
  }

  & .mat-slide-toggle-bar {
    background-color: change_color($defaultColor, $alpha: 0.5);
  }
}

:host mat-slide-toggle:not(.mat-disabled) /deep/ {
  & .mat-slide-toggle-bar {
    background-color: hsla(0, 0, 0%, 0.5);
  }
}
