<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport="true"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="'over'"
    [fixedTopGap]="'72px'">
    <ng-container *ngIf="isMainAdmin">
      <mat-nav-list>
        <h4 class="menu-group">Главный администратор</h4>
        <a mat-list-item class="general-item-link" [routerLink]="'/main/about'" [queryParams]="defaultState" (click)="drawer.toggle()">
          <mat-icon>home</mat-icon>
          <span class="general-item-name">Главная страница</span>
        </a>
        <a mat-list-item class="general-item-link" [routerLink]="'/main/admin'" [queryParams]="defaultState" (click)="drawer.toggle()">
          <mat-icon>local_library</mat-icon>
          <span class="general-item-name">Администраторы</span>
        </a>
        <a mat-list-item class="general-item-link" [routerLink]="'/main/user-group'" [queryParams]="defaultState" (click)="drawer.toggle()">
          <mat-icon>group</mat-icon>
          <span class="general-item-name">Группы пользователей</span>
        </a>
        <a mat-list-item class="general-item-link" [routerLink]="'/main/scenario'" (click)="drawer.toggle()">
          <mat-icon>code</mat-icon>
          <span class="general-item-name">Сценарии</span>
        </a>
      </mat-nav-list>
    </ng-container>
    <ng-container *ngIf="isAdmin">
      <mat-nav-list>
        <ng-container>
          <h4 class="menu-group">Администратор</h4>
          <a mat-list-item class="general-item-link" [routerLink]="'/main/about'" [queryParams]="defaultState" (click)="drawer.toggle()">
            <mat-icon>home</mat-icon>
            <span class="general-item-name">Главная страница</span>
          </a>
          <a mat-list-item class="general-item-link" [routerLink]="'/main/admin'" [queryParams]="defaultState" (click)="drawer.toggle()">
            <mat-icon>local_library</mat-icon>
            <span class="general-item-name">Администраторы</span>
          </a>
          <a mat-list-item class="general-item-link" [routerLink]="'/main/user-group'" [queryParams]="defaultState" (click)="drawer.toggle()">
            <mat-icon>group</mat-icon>
            <span class="general-item-name">Группы пользователей</span>
          </a>
          <a mat-list-item class="general-item-link" [routerLink]="'/main/integrator'" [queryParams]="defaultState" (click)="drawer.toggle()">
            <mat-icon>airline_seat_recline_normal</mat-icon>
            <span class="general-item-name">Интеграторы</span>
          </a>
          <a mat-list-item class="general-item-link" [routerLink]="'/main/scenario'" (click)="drawer.toggle()">
            <mat-icon>code</mat-icon>
            <span class="general-item-name">Сценарии</span>
          </a>
        </ng-container>
      </mat-nav-list>
    </ng-container>
    <ng-container *ngIf="isIntegrator">
      <mat-nav-list>
        <h4 class="menu-group">Интегратор</h4>
        <a mat-list-item class="general-item-link" [routerLink]="'/main/about'" [queryParams]="defaultState" (click)="drawer.toggle()">
          <mat-icon>home</mat-icon>
          <span class="general-item-name">Главная страница</span>
        </a>
        <a mat-list-item class="general-item-link" [routerLink]="'/main/integrator'" [queryParams]="defaultState" (click)="drawer.toggle()">
          <mat-icon>airline_seat_recline_normal</mat-icon>
          <span class="general-item-name">Интеграторы</span>
        </a>
        <a mat-list-item class="general-item-link" [routerLink]="'/main/user-group'" [queryParams]="defaultState" (click)="drawer.toggle()">
          <mat-icon>group</mat-icon>
          <span class="general-item-name">Группы пользователей</span>
        </a>
        <a mat-list-item class="general-item-link" [routerLink]="'/main/user'" [queryParams]="defaultState" (click)="drawer.toggle()">
          <mat-icon>mood</mat-icon>
          <span class="general-item-name">Пользователи</span>
        </a>
        <a mat-list-item class="general-item-link" [routerLink]="'/main/scenario'" (click)="drawer.toggle()">
          <mat-icon>code</mat-icon>
          <span class="general-item-name">Сценарии</span>
        </a>
        <a mat-list-item class="general-item-link" [routerLink]="'/main/controller'" [queryParams]="defaultState" (click)="drawer.toggle()">
          <mat-icon>cast_connected</mat-icon>
          <span class="general-item-name">Контроллеры</span>
        </a>
        <a mat-list-item class="general-item-link" [routerLink]="'/main/thing'" [queryParams]="defaultState" (click)="drawer.toggle()">
          <mat-icon>speaker_group</mat-icon>
          <span class="general-item-name">Устройства</span>
        </a>
        <a mat-list-item class="general-item-link" [routerLink]="'/main/sensor'" [queryParams]="defaultState" (click)="drawer.toggle()">
          <mat-icon>wb_iridescent</mat-icon>
          <span class="general-item-name">Датчики</span>
        </a>
      </mat-nav-list>
    </ng-container>
    <ng-container *ngIf="isUser">
      <mat-nav-list>
        <h4 class="menu-group">Пользователь</h4>
        <a mat-list-item class="general-item-link" [routerLink]="'/main/about'" [queryParams]="defaultState" (click)="drawer.toggle()">
          <mat-icon>home</mat-icon>
          <span class="general-item-name">Главная страница</span>
        </a>
        <a mat-list-item class="general-item-link" [routerLink]="'/main/scenario'" (click)="drawer.toggle()">
          <mat-icon>code</mat-icon>
          <span class="general-item-name">Сценарии</span>
        </a>
      </mat-nav-list>
    </ng-container>
    <div class="main-bottom-row">
      <!--<div class="precision-picker">-->
      <!--<label>Целые</label>-->
      <!--<mat-slide-toggle [(ngModel)]="isPrecision"></mat-slide-toggle>-->
      <!--<label>Правила</label>-->
      <!--</div>-->
      <!--<div class="theme-picker">-->
      <!--<label>Светлая</label>-->
      <!--<mat-slide-toggle [(ngModel)]="isDark"></mat-slide-toggle>-->
      <!--<label>Тёмная</label>-->
      <!--</div>-->
      <div class="copy">
        НИУ "ВШЭ" 2019
      </div>
    </div>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar *ngIf="!isRestricted">
      <mat-toolbar-row class="primary">
        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          [ngClass]="{active: drawer.isOpen}"
          (click)="drawer.toggle()"
          title="Навигационное меню">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
        <!--<div class="toolbar-left">-->
          <!--<a class="nav" *ngIf="goBack$|async" [routerLink]="(goBack$|async)?.link"-->
             <!--[queryParams]="(goBack$|async)?.params">-->
            <!--<mat-icon>arrow_back</mat-icon>-->
          <!--</a>-->
        <!--</div>-->

        <selection-panel>
          <div class="toolbar-left">
            <button mat-icon-button *ngIf="needToGoBack()" (click)="goToPrevious()" title="Назад">
              <mat-icon>arrow_back</mat-icon>
            </button>
          </div>
          <div class="toolbar-center">
            <h2 align="center">Умный дом: Менеджер сценариев</h2>
          </div>
          <div class="toolbar-right">
            <button mat-icon-button (click)="goToCabinet()" *ngIf="!isMainAdmin" title="Кабинет">
              <mat-icon>account_box</mat-icon>
            </button>
            <button mat-icon-button (click)="unautentificateUser()" title="Выйти">
              <mat-icon>exit_to_app</mat-icon>
            </button>
          </div>
        </selection-panel>
      </mat-toolbar-row>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
