<loader [complete]="completed|async" text="Загрузка"></loader>
<div class="wsm-data-container">
  <h2 align="center">Список интеграторов</h2>
  <div class="block-container">
    <ul class="collection with-header">
      <li class="collection-header">
        <h4>Инеграторы</h4>
        <button mat-icon-button (click)="addNewIntegrator()">
          <mat-icon>add_box</mat-icon>
        </button>
        <button mat-icon-button (click)="createReportOnIntegrators()">
          <mat-icon>send</mat-icon>
        </button>
        <button mat-icon-button *ngIf="role() === Roles.ADMIN || role() === Roles.MAIN_ADMIN" (click)="updateAdminList()">
          <mat-icon>cached</mat-icon>
        </button>
      </li>
      <li class="collection-item" *ngFor="let integrator of integrators">
        <div>
          <p class="item-name">{{integrator.name}}</p>
          <p class="item-description">{{integrator.login}}: {{integrator.info}}</p>
          <button mat-icon-button (click)="editIntegrator(integrator.login)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button (click)="viewIntegrator(integrator.login)">
            <mat-icon>details</mat-icon>
          </button>
          <button mat-icon-button (click)="removeIntegrator(integrator.login)">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </li>
    </ul>
    <div class="anyShown" *ngIf="!anyShown">Инеграторы отсутствуют</div>
    <div class="accessed" *ngIf="!accessed">Нет доступа к странице "Список интеграторов"</div>
  </div>
</div>
