<loader [complete]="completed|async" text="Загрузка"></loader>
<div class="wsm-data-container">
  <h2 align="center">Кабинет {{currentRole}}а</h2>
  <div class="block-container" *ngIf="accessed">
    <div class="entity-block">
      <div class="login">
        <label>
          Логин:
          <input [(ngModel)]="login" placeholder='user'>
          <span *ngIf="checkExistingLogin()">Такой {{currentRole}} уже зарегистрирован в системе</span>
          <span *ngIf="!checkRightLogin()">Не правильный формат ввода логина</span>
        </label>
      </div>
      <div class="password">
        <label>
          Пароль:
          <input type="password" [(ngModel)]="password" placeholder='*******'>
          <span *ngIf="!checkFirstPassword()">Неверный формат для пароля</span>
        </label>
        <br>
        <label>
          Повторите пароль:
          <input type="password" [(ngModel)]="repeatPassword" placeholder='*******'>
          <span *ngIf="!checkSecondPassword()">Неверный формат для пароля</span>
        </label>
        <span *ngIf="!checkPasswords()">Пароли не совпадают</span>
      </div>
      <div class="name">
        <label>
          ФИО:
          <input [(ngModel)]="name" placeholder='ФИО'>
          <span *ngIf="!checkName()">Не правильный формат ввода ФИО {{currentRole}}а</span>
        </label>
      </div>
      <div class="info">
        <label>
          Информация об {{currentRole}}е:
          <input [(ngModel)]="info" placeholder='Информация'>
          <span *ngIf="!checkInfo()">Не правильный формат ввода информации об {{currentRole}}е</span>
        </label>
      </div>
    </div>
    <button mat-icon-button (click)="saveCurrentSettings()" [disabled]="!enabledToSave()" title="Сохранить изменения">
      <mat-icon>save</mat-icon>
    </button>
  </div>
  <div class="accessed" *ngIf="!accessed">Нет доступа к странице "Кабинет {{currentRole}}а"</div>
</div>
