<loader [complete]="completed|async" text="Загрузка"></loader>
<div class="wsm-data-container">
  <h2 align="center">Поиск устройств</h2>
  <div class="block-container">
    <div class="searching-block">
      <label>
        Введите ID устройства:
        <input [(ngModel)]="thingId" placeholder='thing'>
        <span *ngIf="thingNotFound()">Не найдено ни одно устройство по заданному ID</span>
        <span *ngIf="thingExisting()">Такое устройство уже есть в системе</span>
      </label>
      <button mat-icon-button (click)="findThing()" title="Найти устройство">
        <mat-icon>find_replace</mat-icon>
      </button>
    </div>
    <div class="find-block" *ngIf="thingFounded">
      <label>
        Название устройства:
        <input [(ngModel)]="name" [disabled]="true">
      </label>
      <label>
        Описание устройства:
        <input [(ngModel)]="description" [disabled]="true">
      </label>
      <label>
        Тип устройства:
        <input [(ngModel)]="typeThing" [disabled]="true">
      </label>
      <button mat-icon-button (click)="addFoundedThing()" title="Подключить устройство">
        <mat-icon>check</mat-icon>
      </button>
    </div>
    <div class="accessed" *ngIf="!accessed">Нет доступа к странице "Поиск устройств"</div>
  </div>
</div>
