<loader [complete]="completed|async" text="Загрузка"></loader>
<div class="wsm-data-container">
  <h2 align="center">Просмотр контроллера</h2>
  <div class="block-container" *ngIf="accessed">
    <div class="entity-block">
      <table>
        <tr>
          <td>
            Название контроллера:
          </td>
          <td>
            {{name}}
          </td>
        </tr>
        <tr>
          <td>
            Описание контроллера:
          </td>
          <td>
            {{description}}
          </td>
        </tr>
        <tr>
          <td>
            Тип контроллера:
          </td>
          <td>
            {{typeContr}}
          </td>

        <tr>
          <td>
            Владелец:
          </td>
          <td>
            {{masterContr.name}}
          </td>
        </tr>
      </table>
    </div>
  </div>
  <div class="accessed" *ngIf="!accessed">Нет доступа к странице "Просмотр контроллера"</div>
</div>
