/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/theming";
@import "styles/fonts";
@import "styles/mixins";
@include mat-core();
//@include angular-material-theme($candy-app-theme);

$hse-app-primary: mat-palette($mat-indigo);
$hse-app-accent: mat-palette($mat-purple, A200, A100, A400);
$hse-app-warn: mat-palette($mat-blue-gray);
$hse-app-theme: mat-light-theme($hse-app-primary, $hse-app-accent, $hse-app-warn);

@include angular-material-theme($hse-app-theme);

*{
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

html,
 body {
   font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
   font-size: rem(16px);
 }

wsm-app {
  display: none;
  width: 100%;
  height: 100%;
}

img {
  vertical-align: middle;
}

a {
  text-decoration: none;
}

.hidden,
[hidden] {
  display: none !important;
}

.mat-menu-panel {
  @include themify($themes) {
    border: themed('combobox', 'menu', 'border');
    background: themed('combobox', 'backgroundColor');
    color: themed('combobox', 'color');
  }
  max-width: 100% !important;

}

.dimmer {
  @include themify($themes) {
    background-color: themed('main', 'loaderColor') !important;

    & .loader {
      color: themed('main', 'color') !important;

      &::before {
        border-color: change_color(themed('main', 'color'), $alpha: 0.15) !important;
      }

      &::after {
        border-color: themed('main', 'color') transparent transparent !important;
      }
    }
  }
}
