<loader [complete]="completed|async" text="Загрузка"></loader>
<div class="wsm-data-container">
  <h2>Создание группы пользователей</h2>
  <div class="block-container" *ngIf="accessed">
    <div class="entity-block">
      <div class="name">
        <label>
          Название группы пользователей:
          <input [(ngModel)]="name" placeholder='Название группы пользователей'>
          <span *ngIf="!checkName()">Не правильный формат ввода названия группы пользователей</span>
        </label>
      </div>
      <div class="desc">
        <label>
          Описание группы пользователей:
          <input [(ngModel)]="description" placeholder='Описание группы пользователей'>
          <span *ngIf="!checkDesc()">Не правильный формат ввода описания группы пользователей</span>
        </label>
      </div>
      <div class="parents">
        <label>
          Родительская группа:
          <select [(ngModel)]="selectedGroup">
            <option [(ngRepeat)]="gr in groups" value="{{gr.name}}">{{gr.name}}</option>
          </select>
        </label>
        <button mat-icon-button (click)="updateList()">
          <mat-icon>cached</mat-icon>
        </button>
      </div>
    </div>
    <button mat-icon-button (click)="createUserGroup()" [disabled]="!enabledToAdd()">
      <mat-icon>save</mat-icon>
    </button>
  </div>
  <div class="accessed" *ngIf="!accessed">Нет доступа к странице "Создание группы пользователей"</div>
</div>
