<loader [complete]="completed|async" text="Загрузка"></loader>
<div class="wsm-data-container">
  <h2 align="center">Редактирование администратора</h2>
  <div class="block-container" *ngIf="accessed">
    <div class="entity-block">
      <div class="login">
        <label>
          Логин:
          <input [(ngModel)]="login" placeholder='user' [disabled]="true">
        </label>
      </div>
      <div class="password">
        <label>
          Для подтверждения изменений необходимо ввести пароль:
          <input type="password" [(ngModel)]="password" placeholder='*******'>
        </label>
      </div>
      <div class="name">
        <label>
          ФИО:
          <input [(ngModel)]="name" placeholder='ФИО'>
          <span *ngIf="!checkName()">Не правильный формат ввода ФИО администратора</span>
        </label>
      </div>
      <div class="info">
        <label>
          Информация об адинистраторе:
          <input [(ngModel)]="info" placeholder='Информация об администраторе ФИО'>
          <span *ngIf="!checkInfo()">Не правильный формат ввода информации об администраторе</span>
        </label>
      </div>
    </div>
    <button mat-icon-button (click)="saveAdmin()" [disabled]="!enabledToSave()" title="Сохранить изменения">
      <mat-icon>save</mat-icon>
    </button>
  </div>
  <div class="accessed" *ngIf="!accessed">Нет доступа к странице "Редактирование администратора"</div>
</div>
