<mat-nav-list>
  <a mat-list-item class="general-item-link" [routerLink]="'/about'" [queryParams]="defaultState" (click)="drawer.toggle()">
    <mat-icon>home</mat-icon>
    <span class="general-item-name">Главная страница</span>
  </a>
  <a mat-list-item class="general-item-link" [routerLink]="'/list/integrator'" [queryParams]="defaultState" (click)="drawer.toggle()">
    <mat-icon>airline_seat_recline_normal</mat-icon>
    <span class="general-item-name">Интеграторы</span>
  </a>
  <a mat-list-item class="general-item-link" [routerLink]="'/list/user-group'" [queryParams]="defaultState" (click)="drawer.toggle()">
    <mat-icon>group</mat-icon>
    <span class="general-item-name">Группы пользователей</span>
  </a>
  <a mat-list-item class="general-item-link" [routerLink]="'/list/user'" [queryParams]="defaultState" (click)="drawer.toggle()">
    <mat-icon>mood</mat-icon>
    <span class="general-item-name">Пользователи</span>
  </a>
  <a mat-list-item class="general-item-link" [routerLink]="'/list/scenario'" (click)="drawer.toggle()">
    <mat-icon>assignment</mat-icon>
    <span class="general-item-name">Сценарии</span>
  <!--</a>-->
  <!--<a mat-list-item class="general-item-link" [routerLink]="'/list/controller'" [queryParams]="defaultState" (click)="drawer.toggle()">-->
    <!--<mat-icon>cast_connected</mat-icon>-->
    <!--<span class="general-item-name">Контроллеры</span>-->
  <!--</a>-->
  <!--<a mat-list-item class="general-item-link" [routerLink]="'/list/thing'" [queryParams]="defaultState" (click)="drawer.toggle()">-->
    <!--<mat-icon>speaker_group</mat-icon>-->
    <!--<span class="general-item-name">Умные вещи</span>-->
  <!--</a>-->
  <!--<a mat-list-item class="general-item-link" [routerLink]="'/list/sensor'" [queryParams]="defaultState" (click)="drawer.toggle()">-->
    <!--<mat-icon>wb_iridescent</mat-icon>-->
    <!--<span class="general-item-name">Датчики</span>-->
  <!--</a>-->
</mat-nav-list>

