<loader [complete]="completed|async" text="Загрузка"></loader>
<div class="wsm-data-container">
  <h2 align="center">Просмотр администратора</h2>
  <div class="block-container" *ngIf="accessed">
    <div class="entity-block">
      <table>
        <tr>
          <td class="cell1">
            Логин:
          </td>
          <td class="cell2">
            {{login}}
          </td>
        </tr>
        <tr>
          <td class="cell1">
            ФИО:
          </td>
          <td class="cell2">
            {{name}}
          </td>
        </tr>
        <tr>
          <td class="cell1">
            Информация об адинистраторе:
          </td>
          <td class="cell2">
            {{info}}
          </td>
        </tr>
      </table>
    </div>
  </div>
  <div class="accessed" *ngIf="!accessed">Нет доступа к странице "Просмотр администратора"</div>
</div>
