<loader [complete]="completed|async" text="Загрузка"></loader>
<div class="wsm-data-container">
  <h2 align="center">Редактирование интегратора</h2>
  <div class="block-container" *ngIf="accessed">
    <div class="entity-block">
      <div class="login">
        <label>
          Логин:
          <input [(ngModel)]="login" placeholder='user' [disabled]="false">
        </label>
      </div>
      <div class="password">
        <label>
          Для подтверждения изменений необходимо ввести пароль:
          <input type="password" [(ngModel)]="password" placeholder='*******'>
        </label>
      </div>
      <div class="name">
        <label>
          ФИО:
          <input [(ngModel)]="name" placeholder='ФИО'>
          <span *ngIf="!checkName()">Не правильный формат ввода ФИО интегратора</span>
        </label>
      </div>
      <div class="info">
        <label>
          Информация об интеграторе:
          <input [(ngModel)]="info" placeholder='Информация об интеграторе ФИО'>
          <span *ngIf="!checkInfo()">Не правильный формат ввода информации об интеграторе</span>
        </label>
      </div>
      <div class="parents">
        <label>
          Группа интегратора:
          <div class="updating-field">
            <select [(ngModel)]="selectedGroup">
              <option *ngFor="let gr of groups" [ngValue]="gr.name">
                {{ gr.name }}
              </option>
            </select>
            <button mat-icon-button (click)="updateList()">
              <mat-icon>cached</mat-icon>
            </button>
          </div>
        </label>
      </div>
    </div>
    <button mat-icon-button (click)="saveIntegrator()" [disabled]="!enabledToSave()">
      <mat-icon>save</mat-icon>
    </button>
  </div>
  <div class="accessed" *ngIf="!accessed">Нет доступа к странице "Редактирование интегратора"</div>
</div>
